html, body{
    margin: 0;
    padding: 0;
}
.formulaire{
    height: 800px;
    background-color: #FFEAC5 ;
}   


.titre{
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins',sans-serif;
    color: #711A50;
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
   

}

form > input {
    margin: 1%;
    padding: 1.3%;
    border: none;
    border-radius: 15px;
    outline: none;
    height: 50px;
}
form > input::placeholder{
    color: #711A50;
    font-size: 15px;
    font-family: 'Poppins',sans-serif
}
h3{
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    color: #711A50;

}
.message{
     height: 150px;
     box-shadow: 0px 3px 5px rgb(164, 185, 192);
     border: none;
     border-radius: 15px;
     font-size: 20px;
     font-family: 'Poppins',sans-serif;
     color: #711A50;

}
textarea::placeholder{
    padding: 20px;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    color: #711A50;
    
}
.buttonselection{
    background-color: #711A50;
    height: 50px;
    width: 450px;
    margin: auto;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Poppins',sans-serif
}
.buttonsoumetre{
    background-color: #711A50;
    height: 40px;
    width: 650px;
    margin: auto;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 2%;
    font-family: 'Poppins',sans-serif
}

.name{

    box-shadow: 0px 3px 5px rgb(164, 185, 192);
}

/** footer**/
.footer{
    background-color: #FFEAC5;
}
.partenaire{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-color: white;
}
.logogital{
    width: 15%;
    height: 100px;
    margin-top: 3%;
    margin-bottom:2% ;
    margin-right: 5%;
    
}
.logogerman{
    width: 15%;
    height: 100px;
    margin-top: 3%;
    margin-bottom:2% ;
    margin-right: 5%;
    
}
.logogiz{
    width: 15%;
    height: 100px;
    margin-top: 3%;
    margin-bottom:2% ;
    margin-right: 5%;

    
}
.logomake{
    width: 15%;
    height: 100px;
    margin-top: 3%;
    margin-bottom:2% ;
    margin-right: 5%;
   
}
.logokda{
    width: 15%;
    height: 80px;
    margin-top: 3%;
    margin-bottom:2% ;
    margin-right: 5%;
    
}
.preference{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FFEAC5;
}
.texte{
    text-align: center;
    font-size: 18px;
    margin: 5%;
    font-family: 'Poppins',sans-serif;
    

    
}
.reseau{
    display: flex;
    flex-direction: row;
    margin-left: 87%;
    margin-top: 200px;

}

/**.facbook{
   
}
.instagram{
        height: 80px;
        border-radius: 5px; 
        border-radius: 50%;
        position: relative;
}**/
.fa-brands fa-facebook{
 height: 80px;
    border-radius: 5px;
    margin-right: 10%;
    border-radius: 50%;
}
.motif{
    width: 100%;
    height: 80px;
    padding-bottom:10px;
    margin-top: 1%;
}
